  *{
    padding: 0;
    margin: 0;
  }
  
  .logodiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
    .img-fluid {
        width: 150px;
        height: 80px;
        margin-top: -20px;
    }
    #leftsideimg{
        width: 500px;
        height: 500px;
    }
    .maindiv{
        display: flex;
        justify-content: space-evenly;
    }
   .form-section {
    min-width: 400px;
    padding: 25px;
    border: 1px solid #edebeb;
    border-radius: 5px;
  }

  .form-label {
    font-weight: bold;
    font-size: 12px;
  }
  
  
  .form-control {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #3d3b3b;
    border-radius: 5px;
  }
  
.form-control::placeholder {
  font-size: 14px; 
}

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  } 
  


.field6 {
  width: 100%;
  margin-bottom: 8px; 
}
.inp {
  border:none;
  border-bottom: 1px solid #565454;
  padding: 10px;
  outline: none;
  width:300px;
  font-size: 13px;
  
}


#year {
border:none;
border-bottom: 1px solid #565454;
padding: 5px 10px;
outline: none;
width:200px;
font-size: 14px;
}

[placeholder]:focus::-webkit-input-placeholder {
transform: translateY(-12px) scale(0.8);
opacity: 1;
font-size: 14px;
}

  @media screen and (max-width:480px){
    .form-section {
        min-width: 300px;
      }
      .maindiv{
        display: flex;
        flex-direction: column;
    }
    #leftsideimg{
        width: 360px;
        height: 300px;
    }
  }



 